.product-box {
    width: 13.375rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 0.25rem;
    transition: 200ms ease 0s;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
  }
  

.product-box:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px, rgba(0, 0, 0, 0.12) 0px 3px 6px;
    transform: scale(1.009);
  }
  

.product-box-top{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 0px 0.75rem;
    height: 3rem;
    justify-content: end;
}

.product-box-icons-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.product-box-img{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.product-img {
    height: 10.125rem;
    width: auto;
    max-width: 190px;
    object-fit: contain;
}

.product-box-text{
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 600;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0.5rem;
}

.product-text-first {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: var(--filter-text);
}



.product-text-cust {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 700;
    height: 1.25rem;
    color: var(--orange-weak);
    padding: 2rem 0 1rem;
}

.product-text-pix {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    height: 0.75rem;
    color: var(--text-grey-weak);
    padding: 0 0 1rem;
}

.product-box-bottom{
    width: 100%;
    margin-top: auto;
    padding: 0.5rem;
}

.product-button {
    border-radius: 0.25rem;
    border-style: none;

    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--white);
    cursor: pointer;
    background: var(--orange-weak);
}

.product-button {
    height: 2.375rem;
}

.product-button-text {
    margin: 0 0 0 0.5rem;
}


@media (min-width: 600px) {
.product-list-box {
    padding-left: 1rem;
    padding-right: 0px;
    }
}

@media (min-width: 1441px) {
.product-box {
    width: 16.75rem;
    } 
}

@media (min-width: 1024px) {
.product-box {
    width: 13.375rem;
} 
}


